<html>
    <head>
        <title>Main page!</title>
        <link rel="stylesheet" href=" {{ url_for('static', path='style.css')}}">
    </head>
    <body>
        <h3> {{ message }} </h3>
        <p> Go to the <a href="/lib"> library </a> </p>
        <p> or </p>
        <p> Upload a book to the library</p>

        <form action="/upload_book" method="post" enctype="multipart/form-data">
            Enter the name: <br>
            <input type="text" name="name"> <br>
            Attach a file: <br>
            <input type="file" name="book_file"> <br><br>
            <button type="submit">Upload book</button>
        </form>
    </body>
</html>